/* ========== reset ========== */
* {
    font-family: 'iransans';
    direction: rtl;
}

/* ========== Top Header ========== */
.top-header {
    padding: 5px 0;
    background-color: #e0e0e0;
}

#zone1 .b3 a {
    font-size: 13px;
    color: #000;
}

#zone1 .b1, #zone1 .b2, #zone1 .b3 {
    width: fit-content !important;
    padding: 0 0 0 5px !important;
}

#zone1 .b1 {
    padding-right: 10px !important;
}

#zone1 img.user-icons {
    max-width: 22px;
    max-height: 22px;
}

#zone3 .b1 {
    text-align: left;
    color: #005e3a;
    font-weight: bold;
}

/* ========== Main-Header ========== */
.main-header {
    padding: 20px 0;
}

#zone4 img {
    margin: 5px 0 10px 0;
}

#zone5 .b4 a, #zone5 .b3 a, #zone5 .b2 a, #zone5 .b1 a {
    display: block;
    color: #565656;
    padding: 5px 10px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
}

#zone5 a:hover {
    background-color: #ffad00;
    color: #005e3a;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

#zone5 .b4, #zone5 .b3, #zone5 .b2, #zone5 .b1 {
    float: left;
}

/* ========== Main Menu ========== */
.bottom-header {
    background-color: #005e3a;
}

#zone6 .navbar {
    margin-bottom: 0 !important;
    background: none;
    border: none;
}

a.navbar-brand {
    display: none;
}

#zone6 .navbar a {
    color: #fff;
}

#zone6 .nav a:hover {
    color: #95d451;
    border: none !important;
}

ul.dropdown-menu li > a {
    direction: rtl;
    text-align: right;
    color: #000 !important;
}

.dropdown-short span.caret {
    display: none;
}

.dropdown-short .reverse:after {
    border: none !important;
    font: normal normal bold 18px/1 FontAwesome;
    content: "\f107" !important;
    margin: 5px;
    color: #95d451;
}

.dropdown-toggle .dropdown-menu .reverse:after, .dropdown-right-onhover .dropdown-menu a:after {
    content: "" !important;
    border: none !important;
}

.dropdown-right-onhover a:after {
    border: none !important;
    font: normal normal bold 18px/1 FontAwesome;
    content: "\f104" !important;
    margin: 5px 20px 5px 0;
    color: #95d451;
}

.navbar-toggle {
    border: none !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #95d451 !important;
}

/* ========== Slider ========== */
#zone7 {
    padding: 0 !important;
}

.advanced-slider img {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.advanced-slider .SliderImageCaption2file1 {
    width: 100% !important;
    height: auto !important;
}

.caption-container .b2 a {
    display: table;
    width: auto !important;
    margin: 22px auto 0 !important;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.caption-container .b2 a:hover {
    color: #95d451;
}

.slide-buttons {
    display: inline-block !important;
    position: absolute;
    top: 70%;
    margin: 0 auto !important;
}

.buttons-inner a {
    background: none !important;
    background-color: #b3b2b1 !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 5px !important;
}

.buttons-inner .select {
    background: none !important;
    background-color: #fff !important;
}

.slide-arrows .previous, .slide-arrows .next {
    background: none !important;
}

.slide-arrows .previous:after {
    border: none !important;
    font: normal normal bold 78px/1 FontAwesome;
    content: "\f104" !important;
    margin: 5px;
    color: #b3b2b1;
}

.slide-arrows .next:after {
    border: none !important;
    font: normal normal bold 78px/1 FontAwesome;
    content: "\f105" !important;
    margin: 5px;
    color: #b3b2b1;
}

/* ========== Search Area ========== */
#zone8 .b1 .search-title {
    display: table;
    margin: 25px auto;
    font-size: 22px;
    font-weight: bold;
    color: #00b67c;
}

#zone8 .b1 .search-title:before {
    border: none !important;
    font: normal normal bold 36px/1 FontAwesome;
    content: "\f10e" !important;
    margin-left: 10px;
    color: #95d451;
}

#zone8 .b1 .search-title:after {
    border: none !important;
    font: normal normal bold 36px/1 FontAwesome;
    content: "\f10d" !important;
    margin-right: 10px;
    color: #95d451;
}